{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}pong Tournament Game{% endblock %}

{% block custom_css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'pongTournament/css/pongTournament.css' %}"> -->
{% endblock %}

{% block content %}
<div class="warp-pongTournament" id="warp-pongT" data-id="{{ game.id }}">
    <p>{{ game }}</p>
    <div class="participant-lst">
        {% for participant in participants %}
            <div class="participant user" data-id="{{ participant.id }}" data-ia="{{ participant.username }}">
                <p>ID: {{ participant.id }}</p>
                <p>Username: {{ participant.username }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="btn" id="btnSetWinner">
        <span>i win</span>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'pongTournament/js/pongTournamentGame.js' %}"></script>
{% endblock %}