{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}pongTournament{% endblock %}

{% block content %}
<div id="pongTournament-content" class="warp-pongTournament">
    <aside class="lobby_list">
        <div class="title-lobby-lst">
            <h1>Lobbys</h1>
        </div>
        <div class="lobbys_box" id="all_lobby">
    
        </div>
    </aside>

    <div id="pongTournament-btn">
        <span>Create new lobby</span>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'pongTournament/js/pongTournament.js' %}"></script>
{% endblock %}