{% extends 'base.html' %}

{% load static %}
{% block title %}pong Tournament Game{% endblock %}

{% block custom_css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'pongTournament/css/pongTournament.css' %}"> -->
{% endblock %}

{% block content %}
<div class="warp-pongTournament" id="warp-pongT">
    <p>{{ game }}</p>
    <div class="participant-lst">
        {% for participant in participants %}
            <div class="participant">
                <p>ID: {{ participant.id }}</p>
                <p>Username: {{ participant.username }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block custom_js %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}