{% extends 'base.html' %}

{% load static %}
{% block title %}pongTournament{% endblock %}

{% block content %}
<div id="pongTournament-content" class="warp-pongTournament">
    <aside class="lobby_list">
        <div class="title-lobby-lst">
            <h1>Lobbys</h1>
        </div>
        <div class="lobbys_box" id="all_lobby">
    
        </div>
    </aside>

    <div id="pongTournament-btn">
        <span>Create new lobby</span>
    </div>
    <div class="lobby-form" id="pongTournament-form">
        <div class="lobby-form-head">
            <span>Create your Tournament</span>
            <span id="cancel-form"><i class="fas fa-xmark"></i></span>
        </div>
        <div class="lobby-form-main">
            <input id="lobby-name" type="text" placeholder="tournamentName" value="tournamentName">
            <button id="submit-lobby">Create</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'pongTournament/js/pongTournament.js' %}"></script>
{% endblock %}