services:
  portainer:
    build: requirements/portainer/.
    container_name: portainer
    ports:
      - "8000:8000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      transcendence:
volumes:
  portainer_data:

networks:
  transcendence:
