{% load i18n %}
{% load static %}
<div id="player-info">
    <div id="player1-info">
        <img id="player1-img" src="">
        <p id="player1-name"></p>
    </div>
    <p id="vs">VS</p>
    <div id="player2-info">
        <img id="player2-img" src="">
        <p id="player2-name"></p>
    </div>
    <div id="timer">30</div>
</div>
<div id="game-wrapper">
    <h3 id="current-player">
    </h3>
    <h3 id="player-turn">
    </h3>
    <div id="connect-four">
    </div>
</div>
<script src="{% static '/connect4/js/connect4.js' %}"></script>