{% load i18n %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ranked/css/ranked.css' %}"> -->
<div class="warp-tournament">
    <div id="game-type">
    </div>
    <div id="player-btn" class="player-btn">
        <img id="playerAvatar" src="" class="player-avatar">
        <div id="playerName"></div>
        <div class="additional-info" id="playerInfo">
            <div>Elo: <span id="playerElo"></span></div>
            <div>Ratio: <span id="playerRatio">5/20</span></div>
            <div>Last Game: <span id="playerLast">Win</span></div>
        </div>
    </div>
    <div id="vs-text">
        VS
    </div>
    <div id="opps-btn" class="opps-btn">
        <img id="oppsAvatar" src="" class="player-avatar">
        <div id="oppsName"></div>
        <div class="additional-info" id="oppsInfo">
            <div>Elo: <span id="oppsElo"></span></div>
            <div>Ratio: <span id="oppsRatio">15/20</span></div>
            <div>Last Game: <span id="oppsLast">Lose</span></div>
        </div>
    </div>
    <div id="waiting-btn">
        <div id="loadingText">Waiting for players.</div>
    </div>
</div>
<script type="module" src="{% static 'ranked/js/ranked.js' %}"></script>
<!-- <script src="{% static 'utils/js/api.js' %}"></script> -->