{% extends 'base.html' %}

{% load static %}
{% block title %}newGame{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'ranked/css/ranked.css' %}">
{% endblock %}

{% block content %}
<!-- <div id="game-chooser">
    <button id="pong-button">PONG!</button>
    <button id="connect4-button">Connect4</button>
</div> -->
<div class="warp-new-game" id="wrap">
    <div>
        <div id="player-btn" class="player-btn">
            <img id="playerAvatar" src="" class="player-avatar">
            <div id="playerName"></div>
            <div class="additional-info" id="playerInfo">
                <div>Elo: <span id="playerElo"></span></div>
                <div>Ratio: <span id="playerRatio">5/20</span></div>
                <div>Last Game: <span id="playerLast">Win</span></div>
            </div>
        </div>
        <div id="vs-text">
            VS
        </div>
        <div id="opps-btn" class="opps-btn">
            <img id="oppsAvatar" src="" class="player-avatar">
            <div id="oppsName"></div>
            <div class="additional-info" id="oppsInfo">
                <div>Elo: <span id="oppsElo"></span></div>
                <div>Ratio: <span id="oppsRatio">15/20</span></div>
                <div>Last Game: <span id="oppsLast">Lose</span></div>
            </div>
        </div>
    </div>
    <div id="timer-text">Game starts in </div>
    <div id="timer"></div>
    <div id="waiting-btn">
        <div id="loadingText">Waiting for players.</div>
    </div>
    <div id="game-type">
    </div>
    <div id="overlay">
        <div id="textDisconnected">L'opposant s'est déconnecté.</div>
        <div class="buttons">
            <button id="reconnect">Rechercher un <br>adversaire</button>
            <button id="cancel">Menu principal</button>
        </div>
    </div>
</div>
<script type="module" src="{% static 'ranked/js/matchFound.js' %}"></script>
<script type="module" src="{% static 'ranked/js/socket.js' %}"></script>
{% endblock %}