{% load static %}
{% load i18n %}

<div id="social-container">
	<div id="social-panel">
		<div id="social-header">
			<div class="social-head-info">
				<a href="/profil/">
					<img src="{% static 'img/bberkrou.jpg' %}" alt="pp">
				</a>
				<h3>bberkrou</h3>
				<button id="social-close-btn" class="btn btn-link"><i class="fa-solid fa-xmark"></i></button>
			</div>
		</div>
		<div id="profile-info">
			<div id="profile-search-bar">
				<input type="text" id="profile-contact-search" placeholder="Rechercher...">
				<i class="fas fa-search"></i>
			</div>
			<div id="profile-info">
				<div class="profile-info-item">
				</div>
			</div>
		</div>
	</div>
</div>

