{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "pongManda" %}{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'pongManda/css/pongManda.css' %}">

{% endblock %}

{% block content %}
<div class="pongManda-wrapper">
	<div class="video-background">
		<video src="{% static 'home/img/pong-video.mp4' %}" autoplay loop muted></video>
	</div>
	<section class="play-box">
		<div class="play-box__header">
            <span>PONG Local</span>
		</div>
		<div class="play-box__content">
            <div class="left-player player-box">
                <div class="player-box__username">
                    <input type="text" placeholder="Player_1" id="player1_username" value="Player_1" maxlength="15">
                </div>
                <div class="player-box__controller">
                    <div class="controls_title">
                        <span>Player Controls</span>
                    </div>
                    <div class="controls_player">
                        <div class="control">
                            <span>UP</span>
                            <button class="btn-change-controls" data-ctrl="W" id="player1-ctrl-up">W</button>
                        </div>
                        <div class="control">
                            <span>DOWN</span>
                            <button class="btn-change-controls" data-ctrl="S" id="player1-ctrl-down">S</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-player player-box">
                <div class="player-box__username">
                    <input type="text" placeholder="Player_2" id="player2_username" value="Player_2" maxlength="15">
                </div>
                <div class="player-box__controller">
                    <div class="controls_title">
                        <span>Player Controls</span>
                    </div>
                    <div class="controls_player">
                        <div class="control">
                            <span>UP</span>
                            <button class="btn-change-controls" data-ctrl="ARROWUP" id="player2-ctrl-up">↑</button>
                        </div>
                        <div class="control">
                            <span>DOWN</span>
                            <button class="btn-change-controls" data-ctrl="ARROWDOWN" id="player2-ctrl-down">↓</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="play-box__footer">
            <button class="btn-custom-game" id="curstom-game"><i class="fa-solid fa-screwdriver-wrench"></i></button>
            <button class="btn-start-game" id="start-game">{% trans "Start Game" %}</button>
        </div>
	</section>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'pongManda/js/pongManda.js' %}"></script>
{% endblock %}