{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "pongManda" %}{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'pongManda/css/pongManda.css' %}">

{% endblock %}

{% block content %}
<div class="pongManda-wrapper">
    <div class="video-background">
        <video src="{% static 'home/img/pong-video.mp4' %}" autoplay loop muted></video>
    </div>
    <section class="container-player">
        <aside class="profil-box-player" id="leftPlayer">
            <div class="head-player">
                <img src="" alt="pp" id="leftPlayer-img">
            </div>
            <div class="body">
                <h2 id="leftPlayer-name"></h2>
                <p>Elo: <span id="leftPlayer-elo">1500</span></p>
            </div>
        </aside>
        <aside class="custom-game">
            <div class="custom-btn">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
        </aside>
        <aside class="profil-box-player" id="rightPlayer">
            <div class="head-player">
                <img src="/media/profile_pics/default.png" alt="pp" id="rightPlayer-img">
            </div>
            <div class="body" id="body-right">
                <form id="chose-player-form" class="warp-form" method="POST">
                    {% csrf_token %}
                    <div class="warp-input">
                        <span class="valid-indicator" id="email-indicator" title="{% trans 'Invalid email format' %}"></span>
                        <input type="email" name="email" id="login-email" required autocomplete="email">
                        <label for="login-email" class="input-label">{% trans "Email" %}</label>
                    </div>
                    <div class="warp-input">
                        <span class="valid-indicator" id="password-indicator"></span>
                        <input class="password-input" type="password" name="pass" id="login-pass" required autocomplete="current-password">
                        <label for="pass" class="input-label">{% trans "Password" %}</label>
                        <button type="button" class="toggle-password" id="togglePasswordLogin">
                            <i class="fa-solid fa-eye-slash"></i>
                        </button>
                    </div>
                        <div class="warp-error">
                            <p id="error-login-value"></p>
                        </div>
                        <div class="form-btn">
                            <button type="submit" id="login-submit">{% trans "Login" %}</button>
                        </div>
                </form>
            </div>
        </aside>
    </section>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'pongManda/js/pongManda.js' %}"></script>
{% endblock %}