{% load i18n %}
{% load static %}

{% block box-skill %}
<div class="box-skill">
    <span class="title">Game Stats Dashboards</span>
    <div class="select-game-history">
        <div class="select-game-history-option active" data-type="pong">
            <i class="fas fa-table-tennis"></i>
        </div>
        <div class="select-game-history-option" data-type="connect4">
            <i class="fas fa-chess-board"></i>
        </div>
    </div>
    <div class="match-legend">
        <div class="legend-item player-info">Players</div>
        <div class="legend-item match-info">Time</div>
        <div class="match-winner legend-item">Winner</div>
        <div class="legend-item match-elo">ELO</div>
    </div>
    <div class="match-history" id="game-history-panel">
        {% if user_data.matches %}
            {% for match in user_data.matches %}
            <div class="match">
                <div class="player-info img-box-match">
                    {% if match.player1_username == match.winner_username %}
                        <img src="{{ match.p1_img }}" alt="{{ match.player1_username}}" class="img-match online">
                    {% else %}
                        <img src="{{ match.p1_img }}" alt="{{ match.player1_username}}" class="img-match offline">
                    {% endif %}
                    <span class="split-match">/</span>
                    {% if match.player2_username == match.winner_username %}
                        <img src="{{ match.p2_img }}" alt="{{ match.player2_username}}" class="img-match online">
                    {% else %}
                        <img src="{{ match.p2_img }}" alt="{{ match.player2_username}}" class="img-match offline">
                    {% endif %}
                </div>
                <div class="match-info">{{ match.time_minutes }}m {{ match.time_seconds }}s</div>
                <div class="match-winner">{{ match.winner_username }}</div>
                <div class="match-elo">
                    {% if match.elo_player1 > 0 %}
                        <span style="color: green;">+{{ match.elo_player1 }}</span>
                    {% else %}
                        <span style="color: red;">{{ match.elo_player1 }}</span>
                    {% endif %}
                        <span class="split-match">/</span>
                    {% if match.elo_player2 > 0 %}
                        <span style="color: green;">+{{ match.elo_player2 }}</span>
                    {% else %}
                        <span style="color: red;">{{ match.elo_player2 }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div> 
    <div class="progress-button" style="{% if not user_data.matches %}display: none;{% endif %}" id="progress-button">
        {% if user_data.matches %}
            <a id="progress-link" hx-get="/progress/pong" hx-target="#main-content" hx-push-url="true" href="/progress/pong" class="btn">Show Progress</a>
        {% endif %}
    </div>

    {% if not user_data.matches %}
        <div class="no-match" id="no-match">
            <p>No matches played yet</p>
        </div>
    {% endif %}
</div>
{% endblock %}
