
{% load static %}

{% block box-skill %}

{% for match in user_data.matches.1 %}
    <div class="match connect4">
        <div class="player-info img-box-match">
            {% if match.player1_username == match.winner_username %}
                <img src="{{ match.p1_img }}" alt="{{ match.player1_username}}" class="img-match online">
            {% else %}
                <img src="{{ match.p1_img }}" alt="{{ match.player1_username}}" class="img-match offline">
            {% endif %}
            <span class="split-match">/</span>
            {% if match.player2_username == match.winner_username %}
                <img src="{{ match.p2_img }}" alt="{{ match.player2_username}}" class="img-match online">
            {% else %}
                <img src="{{ match.p2_img }}" alt="{{ match.player2_username}}" class="img-match offline">
            {% endif %}
        </div>
        <div class="match-info">{{ match.time_minutes }}m {{ match.time_seconds }}s</div>
        <div class="match-winner">{{ match.winner_username }}</div>
        <div class="match-elo">
            {% if match.elo_player1 > 0 %}
                <span style="color: green;">{{ match.elo_player1 }}</span>
            {% else %}
                <span style="color: red;">{{ match.elo_player1 }}</span>
            {% endif %} 
                <span class="split-match">/</span>
            {% if match.elo_player2 > 0 %}
                <span style="color: green;">+{{ match.elo_player2 }}</span>
            {% else %}
                <span style="color: red;">{{ match.elo_player2 }}</span>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}