
{% load static %}
{% block title %}Profil{% endblock %}
<div id="profil-content" class="warp-profil">
	<div class="banner-content">
		<img src="{% static 'profil/img/banner-demo.jpg' %}" alt=" banner">
	</div>
	{% include 'profil/box-profil.html' %}
	{% include 'profil/box-skill.html' %}
	
	{% if user_data.visited == False and user_data.is42 == False %}
		<script src="{% static 'profil/js/profil.js' %}"></script>
	{% endif %}
	<script>
        console.log('updateNav');
        document.getElementById('navbarNav').innerHTML = `
        <ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a hx-get="/" hx-target="#main-content" hx-push-url="true" class="nav-link" href="/">Home</a>
			</li>
			
			<li class="nav-item">
				<a hx-get="/leaderboard/" hx-target="#main-content" hx-push-url="true" class="nav-link" href="/en/leaderboard/">Leaderboard</a>
			</li>
			<li class="nav-item">
				<a hx-get="/game/" hx-target="#main-content" hx-push-url="true" href="/game/" class="nav-link">Play</a>
			</li>
			<li class="nav-item">
				<a hx-get="/profil/" hx-target="#main-content" hx-push-url="true" class="nav-link" href="/en/profil/">Profil</a>
			</li>
			<li class="nav-item">
				<a id="logout" hx-get="/api/logout/" hx-target="#main-content" hx-push-url="true" class="nav-link" href="/api/logout/">Log out</a>
			</li>
        </ul>
        `;
		if (document.getElementById('pre-menu') == null) {
			document.getElementById('chat').innerHTML = `
			<link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'social/css/social.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'menus/css/menu.css' %}">
			<div id="pannel">
			</div>
			<div id="pre-menu">
				<div id="radial-menu">
				</div>
	
				<div id="pre-menu-btn">
					<i class="fa-solid fa-bars"></i>
				</div>
				<div id="global-notif">
					<div id="box-gl-notif" class="notif notif-count active">
						<span id="gl-notif-nbr"></span>
					</div>
				</div>
			</div>
			`;
	
				// Function to dynamically load scripts
			function loadScript(src) {
				var script = document.createElement('script');
				script.src = src;
				document.getElementById('chat').appendChild(script);
			}
	
			// Load the scripts dynamically
			loadScript("{% static 'utils/js/api.js' %}");
			loadScript("{% static 'utils/js/notif.js' %}");
			loadScript("{% static 'utils/js/websocket.js' %}");
			loadScript("{% static 'utils/js/cookie.js' %}");
			loadScript("{% static 'menus/js/menus.js' %}");
			loadScript("{% static 'social/js/social_websocket.js' %}");
			loadScript("{% static 'social/js/social.js' %}");
			loadScript("{% static 'chat/js/chat.js' %}");
			
			htmx.process(document.getElementById('chat'));
		}
        htmx.process(document.getElementById('navbarNav'));
    </script>
</div>