<!-- users/templates/profil/profil_view.html -->
{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
{% endblock %}

{% block title %}Profil{% endblock %}

{% block content %}
<div id="profil-content" class="warp-profil">
	<div class="banner-content">
		<img src="{% static 'profil/img/banner-demo.jpg' %}" alt=" banner">
	</div>
	{% include 'profil/box-profil.html' %}
	{% include 'profil/box-skill.html' %}
	{% if user_data.visited == False and user_data.is42 == False %}
	<script src="{% static 'profil/js/profil.js' %}"></script>
	{% endif %}
</div>
{% endblock %}