{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "pongPrivGame" %}{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'pongPrivGame/css/pongPrivGame.css' %}">

{% endblock %}

{% block content %}
<div class="pongPrivGame-wrapper" id="container-pong3D">
	<div class="video-background">
		<video src="{% static 'home/img/pong-video.mp4' %}" autoplay loop muted></video>
	</div>
	<section class="play-box">
		<div class="play-box__header"> 
            <span>PONG Priv Game</span>
		</div>
		<div class="play-box__content">
            <div class="left-player player-box">
                <div class="player-box__username">
                    <img src="https://cdn.intra.42.fr/users/27082b5f4fe8df2f838153a15ea9e679/bberkrou.jpg" alt="pp">
                    <span id="player1_username">test</span>
                </div>
                <div class="player-box__controller">
                    <div class="controls_title">
                        <span>Player Controls</span>
                    </div>
                    <div class="controls_player">
                        <div class="control">
                            <span>UP</span>
                            <button class="btn-change-controls" data-ctrl="87" id="player1-ctrl-up">W</button>
                        </div>
                        <div class="control">
                            <span>DOWN</span>
                            <button class="btn-change-controls" data-ctrl="83" id="player1-ctrl-down">S</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-player player-box">
                <div class="player-box__username">
                    <img src="https://cdn.intra.42.fr/users/27082b5f4fe8df2f838153a15ea9e679/bberkrou.jpg" alt="pp">
                    <span id="player1_username">test</span>
                </div>
                <div class="player-box__controller">
                    <div class="controls_title">
                        <span>Player Controls</span>
                    </div>
                    <div class="controls_player">
                        <div class="control">
                            <span>UP</span>
                            <button class="btn-change-controls" data-ctrl="38" id="player2-ctrl-up">↑</button>
                        </div>
                        <div class="control">
                            <span>DOWN</span>
                            <button class="btn-change-controls" data-ctrl="40" id="player2-ctrl-down">↓</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="play-box__footer">
            <button class="btn-custom-game" id="curstom-game"><i class="fa-solid fa-screwdriver-wrench"></i></button>
            <button class="btn-start-game" id="start-game">{% trans "Start Game" %}</button>
        </div>
	</section>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="importmap">
    {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js",
            "renderpass": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/RenderPass.js",
            "effectcomposer": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/EffectComposer.js",
            "unrealbloompass": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/UnrealBloomPass.js",
            "fontloader": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/loaders/FontLoader.js",
            "linematerial": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/LineMaterial.js",
            "linegeometry": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/LineGeometry.js",
            "line2": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/Line2.js",
            "timer": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/misc/Timer.js",
            "orbitcontrols": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/controls/OrbitControls.js",
            "cameracontrols": "https://cdn.jsdelivr.net/npm/camera-controls@2.8.5/dist/camera-controls.module.min.js"
        }
    }
</script>
<script type="module" src="{% static 'pongPrivGame/js/pongPrivGame.js' %}"></script>
<script src="{% static 'pongPrivGame/js/pongPrivGame-WebSocket.js' %}"></script>
{% endblock %}