{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Progress" %}{% endblock %}

{% block content %}
<section id="progress-content" class="warp-progress">
	<aside class="aside-stats">
		<h2 class="underline">{% trans "Stats Panels" %}</h2>
		<div class="warp-burger-menus">
			<h3>Winrate</h3>
			<canvas id="progress-burger" width="200" height="200"></canvas>
		</div>
		<div class="warp-display-stats">
			<h3>{% trans "Stats" %}</h3>
			<table id="stats-table">
				<thead>
					<tr>
						<th>{% trans "Statistic" %}</th>
						<th>{% trans "Value" %}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{% trans "Number of games" %}</td>
						<td id="games-count">-</td>
					</tr>
					<tr>
						<td>{% trans "Max win streak" %}</td>
						<td id="max-win-streak">-</td>
					</tr>
					<tr>
						<td>{% trans "Average game time" %}</td>
						<td id="avg-game-time">-</td>
					</tr>
					<tr>
						<td>{% trans "Current Elo" %}</td>
						<td id="current-elo">-</td>
					</tr>
					<tr>
						<td>{% trans "Max Elo" %}</td>
						<td id="max-elo">-</td>
					</tr>
					<tr>
						<td>{% trans "Number of tournament participations" %}</td>
						<td id="tournament-count">-</td>
					</tr>
				</tbody>
			</table>
		</div>
	</aside>
    <section class="warp-stats">
        <article class="game-graph">
            <h2 class="underline">{% trans "ELO Progress" %}</h2>
			<div class="progress-chart">
                <canvas id="progress-chart" width="1000" height="500"></canvas>
            </div>
        </article>
        <article class="game-history">
            <h2 class="underline">{% trans "Game Stats Dashboards" %}</h2>
            <div class="match-legend">
                <div class="legend-item">{% trans "Players" %}</div>
                <div class="legend-item">{% trans "Time" %}</div>
                <div class="legend-item">{% trans "Winner" %}</div>
                <div class="legend-item">{% trans "ELO Before" %}</div>
                <div class="legend-item">{% trans "ELO After" %}</div>
            </div>
            <div class="match-history" id="match-history-container">
            </div>
        </article>
    </section>
	<aside class="aside-profil">
		<div class="img-profil" id="img-profil">
		</div>
		<h2 id="profile-username"></h2>
		<div class="warp-info">
			<h3>Player Information</h3>
			<div class="info-items">
				<p>Last Connexion</p>
				<p id="last-connexion"> - </p>
			</div>
			<div class="info-items">
				<p>Last Game</p>
				<p id="last-game-is-win"> - </p>
			</div>
			<div class="info-items">
				<p>Last Tournement</p>
				<p> - </p>
			</div>
		</div>
		<div>
			<button id="playwith">Play</button>
		</div>
	</aside>
</section>

{% endblock %}

{% block extra_scripts %}
	<script src="{% static 'progress/js/progress.js' %}"></script>
{% endblock %}
