{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="icon" href="https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% if user.is_authenticated %}
    <script src="{% static 'js/notif.js' %}"></script>
    {% endif %}
    {% block extra_head %}{% endblock %}
    {% block custom_css %}{% endblock %}
</head>

<body>
    <header>
        {% include 'header.html' %}
    </header>

    <main id="main-content" hx-history-elt>
        {% block content %}{% endblock %}
    </main>
    <div id="chat">
        {% if user.is_authenticated %}
            {% include 'menus/menus.html' %}
        {% endif %}
    </div>
    
    
    <div id="notif-box"></div>
    {% if not no_footer %}
        {% include 'footer.html' %}
    {% endif %}


    {% block extra_scripts %}
    {% endblock %}
    <script>
        htmx.onLoad(function(evt) {
            window.scrollTo(0, 0);
        });

        document.body.addEventListener("htmx:beforeOnLoad", function(evt) {
            console.log(evt);
            if (evt.detail.pathInfo.finalPath === window.location.pathname) {
                evt.preventDefault();
                return
            }  
        });

        document.body.addEventListener("htmx:historyRestore", function(evt) {
            console.log(evt);
            if (evt.detail.path === window.location.pathname) {
                evt.preventDefault();
                return
            }
            if (window.location.pathname === '/login/')
            {
                evt.preventDefault();
                htmx.ajax('GET', '/login/',
                    {
                        history: 'replace',
                        target: '#main-content', // The target element to update
                        swap: 'innerHTML', // How to swap the content
                    }
                );
                return;
            }
        });
    </script>
</body>
</html>