{% extends 'base.html' %}

{% load static %}
{% block title %}Home Game{% endblock %}

{% block content %}
<div id="game-home-content" class="home-game-wrapper">
    <div class="left-hover">
        <div class="row-select">
            <div class="select-game">
                <div class="select-option" id="pong-tournament-btn" tabindex="1" href="/game/pong/tournament" hx-get="/game/pong/tournament" hx-target="#main-content" hx-push-url="true">
                    <i class="fas fa-trophy"></i>
                </div>
                <div class="select-option" id="pong-ranked-btn" tabindex="2" href="/game/ranked" hx-get="/game/ranked" hx-target="#main-content" hx-push-url="true">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="select-option" id="pong-ia-btn" tabindex="3" href="/game/pong/privGame" hx-get="/game/pong/privGame" hx-target="#main-content" hx-push-url="true"> 
                    <i class="fas fa-robot"></i>
                </div>
                <div class="select-option" id="pong-manda-btn" tabindex="4" href="/game/pong/local" hx-get="/game/pong/local" hx-target="#main-content" hx-push-url="true">
                    <i class="fas fa-house "></i>
                </div>
                <div class="select-option" id="pong-custom-btn" tabindex="5" href="/game/pong/custom" hx-get="/game/pong/custom" hx-target="#main-content" hx-push-url="true">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="left-game">
        <img src="{% static 'home/img/pong-img.png' %}" alt="pong img" class="img">
        <video src="/media/videos/pong-video.mp4" autoplay loop muted></video>
    </div>
    <div class="right-hover">
        <div class="row-select-right">
            <div class="select-game right">
                <div class="select-option" id="connect4-ranked-btn" href="/game/ranked" hx-get="/game/ranked" hx-target="#main-content" hx-push-url="true">
                    <i class="fas fa-chart-line"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="right-game">
        <img src="{% static 'home/img/connect4-img.png' %}" alt="connect4 img">
    </div>
    <div class="circle-select"><div class="circle-part"></div></div>
    <div class="circle-select-2"><div class="circle-part-2"></div></div>
    <script src="{% static 'home/js/bundle.js' %}"></script>
</div>
{% endblock %}