.warp-pongTournament {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    text-align: center;
    background-color: var(--to-teal-2-rgba);
    color: var(--text-color);
    padding-top: 10vh;
}

#pongTournament-content .lobby_list {
    width: 25vw;
    height: fit-content;
    background-color: var(--to-teal-3-rgba);
    position: fixed;
    left: 2%;
    top: 15%;
    padding: 20px;
    border-radius: 10px;
}

#pongTournament-content .title-lobby-lst {
    font-size: 20px; 
    font-weight: 800;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--text-color);
}

#pongTournament-content .lobbys_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 600px;
    overflow-x: auto;
}

#pongTournament-content .lobby-element {
    background-color: var(--to-teal-5-rgba);
    width: 80%;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 10px;
    transition: ease-in-out 0.2s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pongTournament-content .lobby-element:hover {
    transform: scale(1.05);
}

#pongTournament-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: var(--to-teal-3-rgba);
}


@media screen and (max-width: 1023px) {
    #pongTournament-content .title-lobby-lst h1 {
        font-size: 2.5rem; 
        color: red;
    }
}

@media screen and (max-width: 768px) {
    #pongTournament-content {
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pongTournament-content .lobby_list {
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
        width: 65vw;
        max-height: 60vh;
    }

    #pongTournament-content .lobbys_box {
        max-height: 50vh;
    }

    #pongTournament-content .title-lobby-lst h1 {
        font-size: 2rem; 
        color: red;
    }

    #pongTournament-btn {
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 420px) {
    #pongTournament-content .lobby_list {
        width: 80vw;
    }
}