
{% load static %}

<script>console.log("pongLocal.html loaded");</script>
<script src="{% static 'pongLocal/js/bundle.js' %}"></script>
<div class="pongLocal-wrapper" id="container-pong3D">
	<div class="video-background">
		<video src="{% static 'home/img/pong-video.mp4' %}" autoplay loop muted></video>
	</div>
	<section class="play-box" id="pongLocal">
		<div class="play-box__header"> 
            <span>PONG Local</span>
		</div>
		<div class="play-box__content">
            <div class="left-player player-box">
                <div class="player-box__username">
                    <input type="text" placeholder="Player_1" id="player1_username" value="Player_1" maxlength="15" minlength="4">
                </div>
                <div class="player-box__controller">
                    <div class="controls_title">
                        <span>Player Controls</span>
                    </div>
                    <div class="controls_player">
                        <div class="control">
                            <span>UP</span>
                            <button class="btn-change-controls" data-ctrl="87" id="player1-ctrl-up">W</button>
                        </div>
                        <div class="control">
                            <span>DOWN</span>
                            <button class="btn-change-controls" data-ctrl="83" id="player1-ctrl-down">S</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-player player-box">
                <div class="player-box__username">
                    <input type="text" placeholder="Player_2" id="player2_username" value="Player_2" maxlength="15" minlength="4">
                </div>
                <div class="player-box__controller">
                    <div class="controls_title">
                        <span>Player Controls</span>
                    </div>
                    <div class="controls_player">
                        <div class="control">
                            <span>UP</span>
                            <button class="btn-change-controls" data-ctrl="38" id="player2-ctrl-up">↑</button>
                        </div>
                        <div class="control">
                            <span>DOWN</span>
                            <button class="btn-change-controls" data-ctrl="40" id="player2-ctrl-down">↓</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="play-box__footer">
            <button class="btn-custom-game" id="curstom-game"><i class="fa-solid fa-screwdriver-wrench"></i></button>
            <button class="btn-start-game" id="start-game">Start Game</button>
        </div>
	</section>
</div>