{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'social/css/social.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'menus/css/menu.css' %}">
<div id="pannel">
</div>
<div id="pre-menu">
	<div id="radial-menu">
	</div>

	<div id="pre-menu-btn">
		<i class="fa-solid fa-bars"></i>
	</div>
	<div id="global-notif">
		<div id="box-gl-notif" class="notif notif-count active">
			<span id="gl-notif-nbr"></span>
		</div>
	</div>
</div>
<script src="{% static 'utils/js/api.js' %}"></script>
<script src="{% static 'utils/js/notif.js' %}"></script>
<script src="{% static 'utils/js/websocket.js' %}"></script>
<script src="{% static 'utils/js/cookie.js' %}"></script>
<script src="{% static 'menus/js/menus.js' %}"></script>
<script src="{% static 'social/js/social_websocket.js' %}"></script>
<script src="{% static 'social/js/social.js' %}"></script>
<script src="{% static 'chat/js/chat.js' %}"></script>