/* input_styles.css */
.warp-input {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.warp-input input {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: var(--text-color);
}

.input-label {
    position: absolute;
    font-family: 'Poppins';
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 0 5px;
    color: var(--text-color);
    font-size: 15px;
    transition: all 0.3s;
    pointer-events: none;
}

.warp-input input:focus + .input-label,
.warp-input input.filled + .input-label {
    top: -10px;
    left: 20px;
    font-size: 12px;
    background-color: var(--to-teal-2-rgba);
    padding: 0 5px;
    transition: all 0.3s;
}

.input-label.filled {
    top: -10px;
    left: 20px;
    font-size: 12px;
    background-color: var(--to-teal-2-rgba);
    padding: 0 5px;
}

.toggle-password {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-password:focus {
    outline: none;
}

.toggle-password i {
    color: var(--text-color);
    font-size: 18px;
}
