@import "./button_style.css";
@import "./form_style.css";
@import "./indicator_style.css";
@import "./input_style.css";
@import "./other_connexion.css";
@import "./responsive_styles.css";

.warp-login {
    width: 40vw;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: var(--to-teal-2-rgba);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

#login-content .container-login {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-content .form-title {
    margin: 20px 0px 40px 0px;
}

#login-content .form-title h1 {
    font-weight: 800;
    font-size: 60px;
}

#login-content .form-title p {
    margin: 0;
    font-size: 20px;
}

#login-content .chose-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#login-content .chose-form button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s, border-bottom 0.3s;
}

#login-content .chose-form button.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

#login-content .warp-form {
    width: 70%;
}

#login-content .warp-input {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

#login-content .warp-input input {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: var(--text-color);
}

#login-content .input-label {
    position: absolute;
    font-family: 'Poppins';
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 0 5px;
    color: var(--text-color);
    font-size: 15px;
    transition: all 0.3s;
    pointer-events: none;
}

#login-content .warp-input input:focus + #login-content .input-label,
#login-content .warp-input input.filled + #login-content .input-label {
    top: -10px;
    left: 20px;
    font-size: 12px;
    background-color: var(--to-teal-2-rgba);
    padding: 0 5px;
    transition: all 0.3s;
}

#login-content .input-label.filled {
    top: -10px;
    left: 20px;
    font-size: 12px;
    background-color: var(--to-teal-2-rgba);
    padding: 0 5px;
}

#login-content .toggle-password {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

#login-content .toggle-password:focus {
    outline: none;
}

#login-content .toggle-password i {
    color: var(--text-color);
    font-size: 18px;
}

#login-content .form-btn {
    width: 100%;
    margin-top: 20px;
}

#login-content .form-btn button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--to-teal-4-rgba);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#login-content .form-btn button:hover {
    background-color: var(--text-color);
    color: var(--to-teal-4-rgba);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#login-content .warp-other-connexion {
    color: var(--to-teal-5-rgba);
    width: 60%;
    text-align: center;
    position: relative;
    flex-shrink: 0;
    margin-top: 50px;
}

#login-content .valid-indicator {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.warp-input input:focus + #login-content .input-label + #login-content .valid-indicator,
#login-content .warp-input input.filled + #login-content .input-label + #login-content .valid-indicator {
    opacity: 1;
}

#login-content .valid-indicator i {
    font-size: 16px;
}

#login-content .valid {
    color: #00cc00;
}

#login-content .invalid {
    color: #cc0000;
}

#login-content .other-connexion-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--to-teal-5-rgba);
    margin: 10px 0;
}

#login-content .or-text {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateY(-22px);
    width: 40%;
    background-color: var(--to-teal-2-rgba);
}

#login-content .connexion-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#login-content .connexion-btn {
    border-radius: 15px;
    background-color: var(--to-teal-2-rgba);
    padding: 5px 30px;
    color: var(--text-color);
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

#login-content .connexion-btn img {
    width: 30px;
    margin-right: 10px;
    height: auto;
}

#login-content .connexion-btn:hover {
    box-shadow: 0 2px 5px rgba(0.1, 0.1, 0.1, 0.9);
    padding: 8px 33px;
}

.demo {
    position: fixed;
    right: 0;
    top: 0;
    width: 60vw;
    height: 100%;
}

.demo img {
    width: 100%;
    height: 100%;
}

/* Button part */

#login-content .form-btn {
    width: 100%;
    margin-top: 20px;
}

#login-content .form-btn button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--to-teal-4-rgba);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#login-content .form-btn button:hover {
    background-color: var(--text-color);
    color: var(--to-teal-4-rgba);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#login-content .connexion-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#login-content .connexion-btn {
    border-radius: 15px;
    background-color: var(--to-teal-2-rgba);
    padding: 5px 30px;
    color: var(--text-color);
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3
}

/* Indicator part */

#login-content .valid-indicator {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#login-content .warp-input input:focus + #login-content .input-label + #login-content .valid-indicator,
#login-content .warp-input input.filled + #login-content .input-label + #login-content .valid-indicator {
    opacity: 1;
}

#login-content .valid-indicator i {
    font-size: 16px;
}

#login-content .valid {
    color: #00cc00;
}

#login-content .invalid {
    color: #cc0000;
}


/* Responsive part */

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    #login-content .warp-login {
        width: 50vw;
    }

    .demo {
        width: 50vw;
    }

    #login-content .container-login {
        width: 100%;
    }

    #login-content .warp-form {
        width: 80%;
    }
}

@media screen and (max-width: 1023px) {
    #login-content .warp-login {
        width: 100vw;
    }

    .demo {
        display: none;
    }

    #login-content .container-login {
        width: 90%;
    }

    #login-content .warp-form {
        width: 70%;
    }

    #login-content .form-title h1 {
        font-size: 40px;
    }

    #login-content .chose-form button {
        font-size: 16px;
        padding: 8px 16px;
    }

    #login-content .form-btn button {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {

    #login-content .warp-login {
        align-items: start;
        padding-top: 100px;
    }

    #login-content .container-login {
        width: 100%;
    }

    #login-content .warp-form {}

    #login-content .warp-input {
        width: 100%;
    }

    #login-content .form-title h1 {
        font-size: 30px;
    }

    #login-content .chose-form {
        flex-direction: column;
    }

    #login-content .chose-form button {
        margin-bottom: 10px;
    }

    #login-content .warp-input input {
        font-size: 12px;
    }

    #login-content .form-btn button {
        font-size: 14px;
        padding: 8px;
    }

    #login-content .connexion-btn {
        padding: 5px 20px;
        font-size: 16px;
    }
}
