#pongCustom-content input[type="color"] {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#pongCustom-content {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    text-align: center;
    
    background-color: var(--to-teal-2-rgba);
    color: var(--text-color);

    overflow: hidden;
    display: flex;
    align-items: center;
}

#pongCustom-content .custom_list {
    width: 25vw;
    height: fit-content;
    margin-left: 25px;
    background-color: rgba(18, 15, 23, 0.8);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

#pongCustom-content .title-custom-lst {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--text-color);
}

#pongCustom-content .customs_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    overflow-x: auto;
}

#pongCustom-content .custom-element {
    background-color: var(--to-teal-5-rgba);
    width: 80%;
    height: 40px;
    padding: 0px 10px;
    margin-bottom: 20px;
    transition: ease-in-out 0.2s;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}



/* MENUS */

#pongCustom-content .custom-ball {
    height: fit-content;
    width: 100%;
    text-align: left;
}

#pongCustom-content .title-custom {
    width: 80%;
    height: 20%;
    margin: auto;
    height: 10%;
    font-size: 1.2rem;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#pongCustom-content .title-custom i {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    background-color: var(--to-teal-5-rgba);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

#pongCustom-content .custom-option {
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#pongCustom-content .custom-option-element {
    background-color: var(--to-teal-5-rgba);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

#pongCustom-content .custom-option-element label {
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    height: 50%;
}

#pongCustom-content .custom-option-element input, #pongCustom-content .custom-option-element select {
    width: 100%;
    height: 50%;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
}

#pongCustom-content .custom-option-element select {
    background-color: var(--to-teal-3-rgba);
    padding: 5px;
}

#pongCustom-content .custom-option-element select:focus {
    border: none;
}

#pongCustom-content .custom-element:hover {
    transform: scale(1.05);
}

#all_custom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    overflow-x: auto;
}

#pongCustom-content .size-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: var(--to-teal-3-rgba);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#pongCustom-content .size-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
}

#pongCustom-content .change-cam {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

#pongCustom-content .change-cam button {
    all: unset;
    width: 30px;
    font-size: 1rem;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--to-teal-3-rgba);
}

/* change style input color */

#pongCustom-content .custom-option-element.color{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

#pongCustom-content input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    overflow: hidden;
}

#pongCustom-content input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 5px;
}

#pongCustom-content input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

#pongCustom-content input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 5px;
}

/* render custom */

#render {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--to-teal-3-rgba);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}


/* Acessory */

.box-show-accessory {
    position: fixed;
    top: 25%;
    right: 25px;
    width: 20vw;
    height: fit-content;
    background-color: rgba(18, 15, 23, 0.8);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.customs_box_acessory {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.element_accessory {
    width: 100%;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.element_accessory input {
    --s: 50px;
    height: calc(var(--s) + var(--s)/5);
    width: auto;
    aspect-ratio: 2.25;
    border-radius: var(--s);
    margin: calc(var(--s)/2);
    display: grid;
    cursor: pointer;
    background-color: var(--to-teal-2-rgba);
    box-sizing: content-box;
    overflow: hidden;
    transition: .3s .1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.element_accessory input:before {
    content: "";
    padding: calc(var(--s)/10);
    --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%,#000 96%,#0000);
    background: 
        var(--_g) 0 /var(--_p,var(--s)) 100% no-repeat content-box,
        var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
        #fff;
    mix-blend-mode: darken;
    filter: blur(calc(var(--s)/12)) contrast(11);
    transition: .4s, background-position .4s .1s,
        padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
}

.element_accessory input:checked {
    background-color: var(--to-teal-5-rgba);
}

.element_accessory input:checked:before {
    padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
    --_p: 100%;
    --_i: 1;
}


#save-custom-game {
    position: fixed;
    top: 80%;
    left: 25px;
    width: 25vw;
    height: fit-content;
    background-color: var(--to-teal-4-rgba);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

#save-custom-game:hover {
    color: var(--to-teal-4-rgba);
    background-color: var(--text-color);
}

/* start responsive for window 1024 */

@media screen and (max-width: 1024px) {
    #pongCustom-content .custom_list {
        width: 35vw;
    }
}

@media screen and (max-width: 768px) {

    #pongCustom-content {
        justify-content: center;
        align-items: flex-end;
    }

    #pongCustom-content .custom_list {
        width: 95vw;
        margin-left: 0;
    }

    #all_custom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 100%;
        overflow-y: auto;
    }

    #pongCustom-content .title-custom-lst h1 {
        font-size: 1.5rem;
    }

    #pongCustom-content .custom-element {
        width: 20%;
        justify-content: center;
    }

    .fas.fa-arrow-right {
        display: none;
    }

    #pongCustom-content .custom-option {
        width: 100%;
        max-height: 60vh;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }

    #pongCustom-content .custom-option-element {
        width: 25%;
        margin-right: 20px;
        height: 60px;
    }

    #pongCustom-content .custom-option-element label {
        font-size: 0.7rem;
    }

    #pongCustom-content .custom-option-element.color  {
        flex-direction: column;
        height: 60px;
    }
}

@media screen and (max-width: 375px) {
    #pongCustom-content .custom-option-element label {
        font-size: 0.4rem;
    }
}

