@media screen and (min-width: 1024px) and (max-width: 1400px)  {
    #username-profil {
        font-size: 2rem;
    }

    .user_data {
        width: 100%;
    }
    
    .data-element {
        width: 20%;
    }

    .box-profil {
        height: 200px;
    }

    .avatars {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1023px) {
    .banner-content {
        height: 30vh;
    }

    .user_data {
        width: 100%;
    }

    .data-element {
        width: 20%;
    }

    .box-profil {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-skill {
        width: 70%;
        margin-top: -90px;
    }

    .avatars {
        margin: 0;
    }

    .user-info {
        margin: 0;
        width: 75%;
        text-align: center;
    }

    .username-container {
        justify-content: center;
    }

    #username-profil {
        font-size: 1.75rem;
    }

    .match-winner {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .box-profil {
        width: 60%;
    }

    .avatars {
        width: 180px;
        height: 180px;
    }

    .user-info {
        width: 100%;
    }

    .box-skill {
        width: 80%;
    }

    #username-profil {
        font-size: 1.60rem;
    }

    .match {
        flex-direction: column;
        width: 80%;
        padding: 10px;
    }

    .box-skill span.title {
        font-size: 1.5rem;
    }

    .player-info {
        width: 80%;
    }

    .match-elo {
        width: 80%;
        justify-content: space-around;
    }

    .split-match,
    .match-winner,
    .match-info,
    .legend-item {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .box-profil {
        width: 80%;
    }

    .box-skill {
        width: 90%;
    }

    .box-skill span.title {
        font-size: 1.2rem;
    }

}
