{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div id="login-content" class="warp-login"> 
    <div class="container-login">
        <div class="form-title">
            <h1>Welcome</h1>
            <p>Sign in to play Pong</p>
        </div>

        <div class="chose-form">
            <button id="login-btn" class="active">Login</button>
            <button id="register-btn">Register</button>
        </div>

        <div class="warp-form">
            {% include 'login/login_form.html' %}
            {% include 'login/register_form.html' %}
        </div>
        {% include 'login/other_connexion.html' %}
    </div>
</div>

{% include 'login/demo_section.html' %}
<script src="{% static 'login/js/login.js' %}"></script>
{% endblock %}

{% block extra_scripts %}
{% endblock %}