{% load static %}
<div id="login-content" class="warp-login"> 
    <div class="container-login">
        <div class="form-title">
            <h1>Welcome</h1>
            <p>Sign in to play Pong</p>
        </div>

        <div class="chose-form">
            <button id="login-btn" class="active">Login</button>
            <button id="register-btn">Register</button>
        </div>

        <div class="warp-form">
            {% include 'login/login_form.html' %}
            {% include 'login/register_form.html' %}
        </div>
        {% include 'login/other_connexion.html' %}
    </div>
</div>
{% include 'login/demo_section.html' %}
{% if updateNav %}
    <script>
        if (document.getElementById("login-nav") === null)
        {
            console.log('updateNav');
            document.getElementById('navbarNav').innerHTML = `
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a hx-get="/" hx-target="#main-content" hx-push-url="true" class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a id="login-nav" hx-get="{% url 'login' %}" hx-target="#main-content" hx-push-url="true" class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
            `;
            document.getElementById('chat').innerHTML = ``;
            htmx.process(document.getElementById('navbarNav'));
            htmx.process(document.getElementById('chat'))
        }
    </script>
{% endif %}
<script src="{% static 'login/js/login.js' %}"></script>