{% load i18n %}
{% load static %}
<div id="login-content" class="warp-login"> 
    <div class="container-login">
        <div class="form-title">
            <h1>Welcome</h1>
            <p>Sign in to play Pong</p>
        </div>

        <div class="chose-form">
            <button id="login-btn" class="active">Login</button>
            <button id="register-btn">Register</button>
        </div>

        <div class="warp-form">
            {% include 'login/login_form.html' %}
            {% include 'login/register_form.html' %}
        </div>
        {% include 'login/other_connexion.html' %}
    </div>
</div>
{% include 'login/demo_section.html' %}

{% block extra_scripts %}
{% if updateNav %}
    <script>
        console.log('updateNav');
        document.getElementById('navbarNav').innerHTML = `
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a hx-get="/" hx-target="#main-content" hx-push-url="true" class="navbar-brand" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a hx-get="{% url 'login' %}" hx-target="#main-content" hx-push-url="true" class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLangue" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if request.session.django_language == 'fr' %}
                    🇫🇷
                    {% elif request.session.django_language == 'en' %}
                    🇺🇸
                    {% elif request.session.django_language == 'es' %}
                    🇪🇸
                    {% else %}
                    🌍
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLangue">
                    <a class="dropdown-item" href="{% url 'set_language' 'fr' %}">
                        🇫🇷
                    </a>
                    <a class="dropdown-item" href="{% url 'set_language' 'en' %}">
                        🇺🇸
                    </a>
                    <a class="dropdown-item" href="{% url 'set_language' 'es' %}">
                        🇪🇸
                    </a>
                </div>
            </li>
        </ul>
        `;
        document.getElementById('chat').innerHTML = ``;
        htmx.process(document.getElementById('navbarNav'));
        htmx.process(document.getElementById('chat'))
    </script>
{% endif %}
<script src="{% static 'login/js/login.js' %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}