{% load i18n %}
{% load static %}

{% block login_form %}
<form id="login-form" method="POST">
    {% csrf_token %}
    <div class="warp-input">
        <span class="valid-indicator" id="email-indicator" title="Invalid email format"></span>
        <input type="email" name="email" id="login-email" required autocomplete="email">
        <label for="login-email" class="input-label">Email</label>
    </div>
    <div class="warp-input">
        <span class="valid-indicator" id="password-indicator"></span>
        <input class="password-input" type="password" name="pass" id="login-pass" required autocomplete="current-password">
        <label for="pass" class="input-label">Password</label>
        <button type="button" class="toggle-password" id="togglePasswordLogin">
            <i class="fa-solid fa-eye-slash"></i>
        </button>
    </div>
    <div class="warp-error">
        <p id="error-login-value"></p>
    </div>
    <div class="form-btn">
        <button type="submit" id="login-submit">Login</button>
    </div>
</form>

{% endblock %} 