{% load i18n %}

{% block register_form %}
<form id="register-form" method="POST" style="display: none;">
	{% csrf_token %}
	<div class="warp-input">
		<span class="valid-indicator" id="username-indicator-register"></span>
		<input type="text" name="username" id="username" required>
		<label for="username" class="input-label">Username</label>
	</div>
	<div class="warp-input">
		<span class="valid-indicator" id="email-indicator-register"></span>
		<input type="email" name="email" id="register-email" required>
		<label for="register-email" class="input-label">Email</label>
	</div>
	<div class="warp-input">
		<span class="valid-indicator" id="password-indicator-register"></span>
		<input type="password" name="pass" id="register-pass" required>
		<label for="register-pass" class="input-label">Password</label>
		<button type="button" class="toggle-password" id="togglePasswordRegister">
			<i class="fa-solid fa-eye-slash"></i>
		</button>
	</div>
	<div class="warp-error">
        <p id="error-register-value"></p>
    </div>
	<div class="form-btn">
		<button type="submit" id="register-submit">Register</button>
	</div>
</form>
{% endblock %}