{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}pongCustom{% endblock %}

{% block content %}
<div id="pongCustom-content" class="pongCustom-wrapper">
    <div class="custom_list">
        <div class="title-custom-lst">
            <h1>customs</h1>
        </div>
        <div class="customs_box">
            <div id="all_custom">
                <div class="custom-element" data-type="ball"><span>ball</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="plateau"><span>plateau</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="paddle"><span>paddle</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="map"><span>map</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="score"><span>score</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="animation"><span>animation</span><i class="fas fa-arrow-right"></i></div>
            </div>
            <div class="custom-ball" id="custom-box"></div>
        </div>
    </div> 
    <!-- <div id="render"></div> -->
    <!-- <div class="box-btn" id="start" style="z-index: 1000; background-color: white; color: black; border-radius: 15px; width: 100px; height: 50px; position: absolute; bottom: 100px; right: 100px; display: flex; justify-content: center; align-items: center;">
        <button style="border: none; background-color: none;" >GO LAG</button>
    </div> -->
</div>
<script src="{% static 'pongCustom/js/bundle.js' %}"></script>
{% endblock %}