{% extends 'base.html' %}

{% load static %}
{% block title %}pongCustom{% endblock %}

{% block content %}
<div id="pongCustom-content" class="pongCustom-wrapper">
    <aside class="custom_list">
        <div class="title-custom-lst">
            <h1>customs</h1>
        </div>
        <div class="customs_box">
            <div id="all_custom">
                <div class="custom-element" data-type="ball"><span>ball</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="plateau"><span>plateau</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="paddle"><span>paddle</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="map"><span>map</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="score"><span>score</span><i class="fas fa-arrow-right"></i></div>
                <div class="custom-element" data-type="animation"><span>animation</span><i class="fas fa-arrow-right"></i></div>
            </div>
            <div class="custom-ball" id="custom-box"></div>
        </div>
    </aside>
    
    <div id="render"></div>
    <div class="box-show-accessory" id="pongCustom-accessory" style="display: none;"></div>
    <div id="save-custom-game" data-url="{{ dataUrl }}">
        <span>Save</span>
    </div>
</div>
<script src="{% static 'pongCustom/js/bundle.js' %}"></script>
{% endblock %}