django
django-environ 
djangorestframework
requests
pymysql 
Pillow
channels 
daphne 
django-otp
django-two-factor-auth
django-otp-yubikey
phonenumbers
pywebauthn
django-otp-webauthn
werkzeug
django-extensions
django-htmx
psycopg2-binary
