<!-- users/templates/profil/box-skill.html -->
{% load i18n %}
{% load static %}

{% block box-skill %}
<div class="box-skill">
    <h2>{% trans "Game Stats Dashboards" %}</h2>
    {% if user_data.matches %}
    <div class="match-legend">
        <div class="legend-item">{% trans "Players" %}</div>
        <div class="legend-item">{% trans "Time" %}</div>
        <div class="legend-item">{% trans "Winner" %}</div>
        <div class="legend-item">{% trans "ELO Before" %}</div>
        <div class="legend-item">{% trans "ELO After" %}</div>
    </div>
    <div class="match-history">
        {% for match in user_data.matches %}
        <div class="match">
            <div class="player-info">{{ match.player1 }} / {{ match.player2 }}</div>
            <div class="match-info">{{ match.time }}</div>
            <div class="match-winner">{{ match.winner }}</div>
            <div class="match-elo">{{ match.elo_before1 }} / {{ match.elo_before2 }}</div>
            <div class="match-elo-after">{{ match.elo_after1 }} / {{ match.elo_after2 }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="progress-button">
        {% if not user_data.visited %}
        <a href="{% url 'progress' %}" class="btn">{% trans "Show My Progress" %}</a>
        {% else %}
        <a href="{% url 'progress' %}" class="btn">{% trans "Show His Progress" %}</a>
        {% endif %}
    </div>
    {% else %}
    <div class="no-match">
        {% if not user_data.visited %}
        <p>{% trans "Vous n'avez aucun match jouer pour le moment"%}</p>
        <a href="/play/" id="btn-play">{% trans "Jouer"%}</a>
        {% else %}
        <p>{% trans "N'as encore aucun match jouer pour le moment"%}</p>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}