[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
django-environ = "~=0.4"
djangorestframework = "3.14.0"
requests = "2.31.0"
pymysql = "1.0.2"
Pillow = "9.4.0"

[dev-packages]

[requires]
python_version = "3.11"
