#game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 5vh;
}

#connect-four {
    height: 540px;
    width: 630px;

    background-color: blue;
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#current-player {
    font-size: 2em;
    color: white;
    margin: 10px;
}

.tile {
    width: 70px;
    height: 70px;
    margin: 8px;

    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.tile:not(.red):not(.yellow):hover {
    background-color: lightblue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

#player-info {
    display: none;
    padding: 15px;
    position: absolute;
    flex-direction: column;
    margin-top: 10vh;
}

#player1-img,
#player2-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

#player1-name,
#player2-name {
    font-size: 1.5em;
    color: white;
    margin: 10px;
    font-weight: bold;
}

#vs {
    font-size: 1.5em;
    color: rgb(99, 99, 99);
    margin: 10px;
    font-weight: bold;
    
}

#timer {
    font-size: 1.5em;
    color: white;
    margin: 10px;
    font-weight: bold;
}