    .footer {
        background-color: var(--to-teal-2-rgba);
        z-index: 100;
        color: var(--text-color);
        padding: 50px 0;
    }

    .footer h5 {
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer p, .footer ul {
        margin-left: 15px;
    }

    .footer {
        flex: 1;
        text-align: left;
        margin-bottom: 20px;
    }

    .footer h3 {
        margin-bottom: 5px;
        font-size: 1.5rem;
    }

    .footer ul {
        list-style-type: none;
        padding: 0;
    }

    .footer ul li {
        margin-bottom: 5px;
    }

    .footer ul li i {
        margin-right: 10px;
    }

    .footer ul li a {
        color: var(--text-color);
        text-decoration: none;
        transition: color 0.3s ease;
    }