header {
    background-color: var(--to-teal-1-rgba);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
}

.navbar {
    color: var(--text-color);
    padding: 10px 20px;
    width: 80%;
    margin: auto;
}

.navbar-brand {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: var(--primary-color);
}

.navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
}

.navbar-toggler-icon {
    color: var(--text-color);
    font-size: 1.5rem;
}

.nav-link {
    color: var(--text-color);
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--primary-color);
}

.navbar-nav {
    margin-left: auto;
}

.collapse.navbar-collapse {
    margin-top: 10px;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-item::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-nav .nav-item:hover::before {
    width: 100%;
    left: 0;
}

.nav-item.dropdown .nav-link {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    background-color: var(--to-teal-1-rgba);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    min-width: 0;
    width: auto;
}

.dropdown-item {
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    width: 2.5rem;
    justify-content: center;
}

.dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--to-teal-1-rgba);
}

.dropdown-item img {
    width: 20px;
    margin-right: 5px;
}

#navbarDropdownLangue {
    font-size: 20px;
}