/* leaderboard/static/leaderboard/css/leaderboard.css */

.body-leaderboard .user:nth-child(even) {
    background-color: rgba(93, 84, 124, 0.8);
}

.body-leaderboard .user:nth-child(odd) {
    background-color: rgba(93, 84, 124, 0.6);
}
.leaderboard-page {
    min-height: 80vh;
    padding-top: 20vh;
    color: var(--text-color);
    background-size: 100% 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#leaderboard-content .podium-leaderboard {
    width: 50%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#leaderboard-content .podium-card {
    background-color: var(--to-teal-3-rgba);
    width: 20%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;
    transition: ease-in-out 0.3s;
    animation: glow 5s ease-in-out infinite alternate;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
    border-radius: 10px 10px 0px 0px;
}

#leaderboard-content .podium-body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#leaderboard-content .podium-card .img-podium {
    transform: translateY(-50px);
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard-content .podium-card .data-podium {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-40px);
}

#leaderboard-content .podium-card .img-podium img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#leaderboard-content .podium-card .data-podium h3 {
    font-size: 1.2rem;
    margin: 0;
}

#leaderboard-content .podium-card .data-podium p {
    font-size: 0.7rem;
    margin: 0;
}

#leaderboard-content .first {
    background-color: var(--to-teal-5-rgba);
    height: 200px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.9);
}

#leaderboard-content .second {
    background-color: var(--to-teal-4-rgba);
    height: 140px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
}

#leaderboard-content .leaderboard {
    width: 50%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    z-index: 10;
}

#leaderboard-content .header-leaderboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#leaderboard-content .header-leaderboard div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard-content .body-leaderboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#leaderboard-content .body-leaderboard .user {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

#leaderboard-content .head {
    background-color: var(--to-teal-2-rgba);
}

#leaderboard-content .rank {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard-content .rank p {
    font-size: 1rem;
    margin: 0;
}

#leaderboard-content .username {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#leaderboard-content .username p {
    font-size: 1rem;
    margin: 0;
}

#leaderboard-content .username img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

#leaderboard-content .elo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard-content .elo p {
    margin: 0;
}

#leaderboard-content .podium-card:hover {
    transform: scale(1.05) translateY(-20px);
    z-index: 1;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
    }

    50% {
        box-shadow: 0 0 11px 5px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    #leaderboard-content .podium-leaderboard {
        width: 70%;
    }

    #leaderboard-content .podium-card {
        width: 20%;
        margin: 0 5px;
    }

    #leaderboard-content .leaderboard {
        width: 70%;
    }
}

@media screen and (max-width: 1023px) {

    #leaderboard-content .podium-leaderboard {
        width: 80%;
    }

    #leaderboard-content .podium-card {
        width: 20%;
        margin: 0 5px;
    }

    #leaderboard-content .leaderboard {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    #leaderboard-content .podium-leaderboard {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #leaderboard-content .podium-card {
        width: 60%;
        height: 20%;
        margin: 0 5px;
        animation: none;
        box-shadow: none;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #leaderboard-content .podium-body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px;
    }

    #leaderboard-content .podium-body .img-podium {
        width: 30%;
        height: 100%;
        transform: translateY(0);
    }

    #leaderboard-content .podium-card .img-podium img {
        width: 50px;
        height: 50px;
    }

    #leaderboard-content .podium-card .data-podium {
        width: 70%;
        display: flex;
        transform: translateY(0);
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #leaderboard-content .podium-card .data-podium h3 {
        font-size: 1rem;
    }

}

@media screen and (max-width: 450px) {
    #leaderboard-content .podium-card {
        width: 80%;
    }

    #leaderboard-content .podium-card .data-podium h3 {
        font-size: 0.8rem;
    }

    #leaderboard-content .podium-card .data-podium p {
        font-size: 0.5rem;
    }

    #leaderboard-content .leaderboard {
        font-size: 1rem;
    }

    #leaderboard-content .rank p {
        font-size: 0.8rem;
    }

    #leaderboard-content .username p {
        font-size: 0.8rem;
    }

    #leaderboard-content .user {
        justify-content: space-around;
    }

    #leaderboard-content .username img {
        width: 30px;
        height: 30px;
    }

    #leaderboard-content .elo {
        display: none;
    }
}