#login-content .other-connexion-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--to-teal-5-rgba);
    margin: 10px 0;
}

#login-content .or-text {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateY(-22px);
    width: 40%;
    background-color: var(--to-teal-2-rgba);
}

#login-content .connexion-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#login-content .connexion-btn {
    border-radius: 15px;
    background-color: var(--to-teal-2-rgba);
    padding: 5px 30px;
    color: var(--text-color);
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

#login-content .connexion-btn img {
    width: 30px;
    margin-right: 10px;
    height: auto;
}

#login-content .connexion-btn:hover {
    box-shadow: 0 2px 5px rgba(0.1, 0.1, 0.1, 0.9);
    padding: 8px 33px;
}