{% load static %}


<div id="chat-container">
	<div id="chat-panel">
		<div id="chat-header">
			<div class="chat-head-info">
				<h3>Contacts</h3>
				<button id="close-btn" class="btn btn-link"><i class="fa-solid fa-xmark"></i></button>
				<button id="back-btn" class="btn btn-link" style="display: none;"><i
						class="fa-solid fa-right-long"></i></button>
			</div>
		</div>
		<div id="header-divider" style="display: none;"></div>
		<div id="contacts-list">
		</div>
		<div id="chat-box" style="display: none;">
			<div id="chat-messages"></div>
			<div id="chat-input">
				<input type="text" id="message-input" placeholder="Tapez votre message...">
				<button id="send-btn"><i class="fas fa-paper-plane"></i></button>
			</div>
		</div>
	</div>
</div>