.pongPrivGame-wrapper {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	text-align: center;
	background-color: var(--to-teal-2-rgba);
	color: var(--text-color);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.video-background {
	z-index: 100;
}

.video-background video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.play-box {
    background-color: rgba(18, 15, 23, 0.8);
    border-radius: 10px;
	padding: 20px;
	width: 30vw;
	height: 70vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 0 10px 5 rgba(0, 0, 0, 0.4);
	z-index: 200;
}

/* header of box */

.play-box__header {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.play-box__header span.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    width: 100%;
}

/* content of box */

.play-box__content {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-box {
    background-color: var(--to-teal-2-rgba);
    width: 45%;
    height: 100%;
    border-radius: 10px;
}

.player-box__username {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player-box__username span.username {
    all: unset;
    color: var(--text-color);
    padding: 5px;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
}

.player-box__username img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.left-player {
}

.box-player {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--to-teal-2-rgba);
    padding: 10px;
    position: relative;
}

/* footer of box */

.play-box__footer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn-custom-game {
    all: unset;
    background-color: var(--to-teal-4-rgba);
    color: var(--text-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.btn-custom-game:hover, .btn-custom-game:focus, .btn-ready-game:hover, .btn-start-game:focus {
    background-color: var(--text-color);
    color: var(--to-teal-4-rgba);
}

.btn-custom-game:active, .btn-ready-game:active {
    transform: scale(0.9);
}

.btn-ready-game {
    all: unset;
    background-color: var(--to-teal-4-rgba);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    display: none;
}

.notLog {
    filter: blur(2px);
}

.btn-ready-game.active {
    display: block;
}

/* LOADING PART */

.loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

#loader-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

@keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
        0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 
        0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, 
        -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
        -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
        0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
