{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "tournament" %}{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'tournament/css/tournament.css' %}">
{% endblock %}

{% block content %}
<div class="warp-tournament">
    <aside class="lobby_list">
        <div class="title-lobby-lst">
            <h1>Lobbys</h1>
        </div>
        <div class="lobbys_box" id="all_lobby">
    
        </div>
    </aside>

    <div id="tournament-btn">
        <span>Create new lobby</span>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'tournament/js/tournament.js' %}"></script>
{% endblock %}