{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "pongPrivGame" %}{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'pongPrivGame/css/pongPrivGame.css' %}">

{% endblock %}

{% block content %}
<div class="pongPrivGame-wrapper" id="container-pong3D">
	<div class="video-background">
		<video src="{% static 'home/img/pong-video.mp4' %}" autoplay loop muted></video>
	</div>
	<section class="play-box" id="lst-players" data-players="{{ game.p1Id}},{{ game.p2Id}}">
		<div class="play-box__header"> 
            <span class="title">PONG Priv Game </span>
		</div>
		<div class="play-box__content">
            <div class="left-player box-player" id="first-player" data-id="{{ player.id }}">
                <div class="player-box__username">
                    <span class="username" id="player1_username">{{ player.username }}</span>
                    <img src="{{ player.img }}" alt="pp">
                    <span id="p1_status">Not ready</span>
                </div>
            </div>
            <div class="right-player box-player" id="second-player" data-id="{{ opponent.id }}">
                <div class="player-box__username notLog">
                    <span class="username" id="player1_username">{{ opponent.username }}</span>
                    <img src="{{ opponent.img }}" alt="pp">
                    <span id="p2_status">Not ready</span>
                </div>
                <div id="loader-container">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div class="play-box__footer" id="box-btn">
            <button class="btn-custom-game" id="curstom-game"><i class="fa-solid fa-screwdriver-wrench"></i></button>
            <button class="btn-ready-game" id="ready-game">{% trans "Make Ready" %}</button>
        </div>
	</section>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'pongPrivGame/js/bundle.js' %}"></script>
<!-- <script src="{% static 'pongPrivGame/js/pongPrivGame-WebSocket.js' %}"></script>
<script src="{% static 'pongPrivGame/js/pongPrivGame-WS-action.js' %}"></script> -->
{% endblock %}