{% load i18n %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pongPrivGame/css/pongPrivGame.css' %}">
<div class="pongPrivGame-wrapper" id="container-pong3D">
	<div class="video-background">
		<video src="{% static 'home/img/pong-video.mp4' %}" autoplay loop muted></video>
	</div>
	<section class="play-box" id="lst-players" data-players="{{ game.p1Id}},{{ game.p2Id}}">
		<div class="play-box__header"> 
            <span class="title">PONG Priv Game </span>
		</div>
		<div class="play-box__content">
            <div class="left-player box-player" id="first-player" data-id="{{ player.id }}">
                <div class="player-box__username">
                    <div class="username">
                        <span class="username" id="player1_username">{{ player.username }}</span>
                    </div>
                    <div class="img">
                        <img src="{{ player.img }}" alt="pp">
                    </div>
                    <div class="status">
                        <span id="p1_status">Not ready</span>
                    </div>
                </div>
            </div>
            <div class="right-player box-player" id="second-player" data-id="{{ opponent.id }}">
                <div class="player-box__username notLog">
                    <div class="username">
                        <span class="username" id="player1_username">{{ opponent.username }}</span>
                    </div>
                    <div class="img">
                        <img src="{{ opponent.img }}" alt="pp">
                    </div>
                    <div class="status">
                        <span id="p2_status">Not ready</span>
                    </div>
                </div>
                <div id="loader-container">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div class="play-box__footer" id="box-btn">
            <button class="btn-custom-game" id="curstom-game"><i class="fa-solid fa-screwdriver-wrench"></i></button>
            <button class="btn-ready-game" id="ready-game">Make Ready</button>
        </div>
	</section>
</div>
<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js",
			"renderpass": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/RenderPass.js",
			"effectcomposer": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/EffectComposer.js",
			"unrealbloompass": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/UnrealBloomPass.js",
			"fontloader": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/loaders/FontLoader.js",
			"linematerial": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/LineMaterial.js",
			"linegeometry": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/LineGeometry.js",
			"line2": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/Line2.js",
			"timer": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/misc/Timer.js",
			"orbitcontrols": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/controls/OrbitControls.js",
			"cameracontrols": "https://cdn.jsdelivr.net/npm/camera-controls@2.8.5/dist/camera-controls.module.min.js"
		}
	}
</script>
<script src="{% static 'pongPrivGame/js/bundle.js' %}"></script>