/* chat.css */

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
    border: none;
}

#chat {
    z-index: 10000;
}

#chat-btn {
    background-color: var(--to-teal-3-rgba);
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.3s;
    position: fixed;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    z-index: 1001;
    font-size: 0.8rem;
}

#chat-btn:hover {
    background-color: var(--text-color);
    color: var(--to-teal-3-rgba);
}

#chat-panel {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 500px;
    background-color: var(--to-teal-3-rgba);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    color: #fff;
    border-radius: 10px;
    overflow-x: hidden;
    z-index: 1100;
    padding: 10px;
}

#chat-panel i {
    cursor: pointer;
}

#chat-panel.active {
    display: block;
    animation: openChatPanel 0.5s ease-in-out forwards;
}

#chat-panel.open {
    display: block;
}

#chat-panel.closing {
    animation: closeChatPanel 0.3s ease-in-out forwards;
    overflow-x: hidden;
    /* Empêche la barre de défilement horizontale pendant la fermeture */
}

#chat-header {
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--text-color);
}

.chat-head-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#chat-header .title-bar {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
}

#chat-header h3 {
    margin: 0;
    font-size: 1.2rem;
}

#close-btn,
#back-btn {
    color: #fff;
    font-size: 0.9rem;
    background-color: var(--to-teal-4-rgba);
    transition: ease-in-out 0.3s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#close-btn:hover,
#back-btn:hover {
    text-decoration: underline;
    background-color: #ccc;
    color: var(--to-teal-4-rgba);
}

#header-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
}

#search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--to-teal-4-rgba);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#contact-search {
    flex: 1;
    padding: 5px;
    background-color: var(--to-teal-3-rgba);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 80%;
}

#contact-search::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#search-bar .fas.fa-search {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.5);
}

#contacts-list {
    padding: 10px;
    overflow-y: auto;
    max-height: 380px;
}

#contacts-list::-webkit-scrollbar {
    width: 8px;
}

#contacts-list::-webkit-scrollbar-thumb {
    background-color: var(--to-teal-5-rgba);
    border-radius: 10px;
    border: 2px solid var(--to-teal-3-rgba);
}

#contacts-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

#contacts-list::-webkit-scrollbar-track {
    background-color: var(--to-teal-3-rgba);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.contact-name {
    flex: 1;
}

.contact-online-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 15px;
}

.contact-online-status.online {
    background-color: rgba(0, 255, 0, 0.5);
}

.contact-online-status.offline {
    background-color: rgba(255, 0, 0, 0.5);
}

#chat-box {
    display: flex;
    flex-direction: column;
    height: 82%;
}

#chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--to-teal-3-rgba);
    overflow-x: hidden;
    min-height: 85%;
    max-height: 85%;
}

#chat-input {
    display: flex;
    padding: 10px;
    background-color: var(--to-teal-4-rgba);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#message-input {
    flex: 1;
    padding: 5px;
    background-color: var(--to-teal-3-rgba);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 100%;
}

#message-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.action-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: ease-in-out 0.3s;
}

.action-btn:hover {
    background-color: var(--text-color);
    color: var(--to-teal-4-rgba);
}

.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
    animation: slideInFromRight 0.5s ease;
}

.my-message {
    background-color: var(--to-teal-5-rgba);
    color: #fff;
    margin-left: auto;
}

.their-message {
    background-color: var(--to-teal-5-rgba);
    color: #fff;
}

.game-invite {
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 15px;
    width: fit-content;
    max-width: 80%;
    background-color: var(--to-teal-5-rgba);
    color: var(--text-color);
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideInFromRight 0.5s ease;
}

.game-invite-head {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}

.game-invite-head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.choose-games {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.choose-games button {
    transition: ease-in-out 0.3s;
    color: var(--text-color);
    outline: none;
    box-shadow: none;
    border: none;
}

.choose-games button:hover {
    background-color: var(--to-teal-4-rgba);
    color: var(--text-color);
}

.game-invite i {
    color: var(--text-color);
}   

.user-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    font-size: 0.8rem;
}

.btn-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.btn-utils {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}

.btn-update {
    position: relative;
    width: 25px;
    height: 25px;
    padding: 0px;
}

.btn-update[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}

.btn-update[data-tooltip]:hover::after {
    opacity: 1;
}

.btn-head button{
    background-color: var(--to-teal-4-rgba);
    color: var(--text-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
    transition: ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-head button:hover {
    background-color: var(--text-color);
    color: var(--to-teal-4-rgba);

}

.contact-status {
    position: relative;
}

.notif-user {
    background: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(25px, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 0.8rem;
}

.notif-user.active {
    background: red;
}

#pdp-chat-panel img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.mark-notif-chat {
    position: absolute;
    top: -5px;
    left: 25px;
    color: var(--text-color);
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
    font-weight: bold;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes openChatPanel {
    0% {
        width: 0;
        height: 0px;
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        width: 300px;
        height: 500px;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeChatPanel {
    0% {
        width: 300px;
        height: 500px;
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        width: 0;
        height: 0;
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

#back-btn.closing {
    animation: slideOutToRight 0.3s ease forwards;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--to-teal-1-rgba);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--to-teal-5-rgba);
}