.pongManda-wrapper {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    text-align: center;
    background-color: var(--to-teal-2-rgba);
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.video-background {
    z-index: 100;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.container-player {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 50px   ;
    align-items: center;
}

.container-player .profil-box-player {
    background-color: rgba(93, 84, 124, 0.99);
    width: 20%;
    height: 50%;
    padding: 20px;
    border-radius: 10px;
}

.head-player {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.head-player img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.container-player .body {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--to-teal-3-rgba);
    border-radius: 10px;
    padding: 10px;
}


.custom-game {
    width: 10%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn {
    background-color: var(--to-teal-4-rgba);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* =================================================== */


.warp-form {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warp-input {
    position: relative;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.warp-input input {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: var(--text-color);
}

.input-label {
    position: absolute;
    font-family: 'Poppins';
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 0 5px;
    color: var(--text-color);
    font-size: 15px;
    transition: all 0.3s;
    pointer-events: none;
}

.warp-input input:focus + .input-label,
.warp-input input.filled + .input-label {
    top: -10px;
    left: 20px;
    font-size: 12px;
    background-color: var(--to-teal-2-rgba);
    padding: 0 5px;
    transition: all 0.3s;
}

.input-label.filled {
    top: -10px;
    left: 20px;
    font-size: 12px;
    background-color: var(--to-teal-2-rgba);
    padding: 0 5px;
}

.toggle-password {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-password:focus {
    outline: none;
}

.toggle-password i {
    color: var(--text-color);
    font-size: 18px;
}

.form-btn {
    width: 100%;
}

.form-btn button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--to-teal-4-rgba);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.form-btn button:hover {
    background-color: var(--text-color);
    color: var(--to-teal-4-rgba);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
