input[type="color"] {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.pongCustom-wrapper {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    text-align: center;
    background-color: var(--to-teal-2-rgba);
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.custom_list {
    width: 18vw;
    /* height: 80vh; */
    height: fit-content;
    background-color: rgba(18, 15, 23, 0.8);
    position: fixed;
    left: 2%;
    top: 15%;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.title-custom-lst {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--text-color);
}

.customs_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 80vh; */
    height: fit-content;
    overflow-x: auto;
}

.custom-element {
    background-color: var(--to-teal-5-rgba);
    width: 80%;
    height: 40px;
    padding: 0px 10px;
    margin-bottom: 20px;
    transition: ease-in-out 0.2s;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}



/* MENUS */

.custom-ball {
    height: fit-content;
    width: 100%;
    text-align: left;
}

.title-custom {
    width: 80%;
    height: 20%;
    margin: auto;
    height: 10%;
    font-size: 1.2rem;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.title-custom i {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    background-color: var(--to-teal-5-rgba);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.custom-option {
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.custom-option-element {
    background-color: var(--to-teal-5-rgba);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.custom-option-element label {
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    height: 50%;
}

.custom-option-element input, .custom-option-element select {
    width: 100%;
    height: 50%;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
}

.custom-option-element select {
    background-color: var(--to-teal-3-rgba);
    padding: 5px;
}

.custom-option-element select:focus {
    border: none;
}

.custom-element:hover {
    transform: scale(1.05);
}

#all_custom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    overflow-x: auto;
}

.size-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: var(--to-teal-3-rgba);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.size-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
}

.change-cam {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

.change-cam button {
    all: unset;
    width: 30px;
    font-size: 1rem;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--to-teal-3-rgba);
}

/* change style input color */

.custom-option-element.color{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    overflow: hidden;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 5px;
}

/* render custom */

#render {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--to-teal-3-rgba);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

/* start responsive for window 1024 */

@media screen and (max-width: 1240px) {
    .custom_list {
        width: 25vw;
        background-color: blue;
    }
}

@media screen and (max-width: 1024px) {
    .custom_list {
        width: 30vw;
        background-color: yellow;
    }
}

@media screen and (max-width: 768px) {
    .custom_list {
        background-color: green;
    }
}

@media screen and (max-width: 600px) {
    .custom_list {
        background-color: red;
    }
}

@media screen and (max-width: 480px) {
    .custom_list {
        background-color: purple;
    }
}

@media screen and (max-width: 320px) {
    .custom_list {
        background-color: orange;
    }
}

