{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block custom_css %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}"> -->
    <style>
        body { margin: 0; }
        canvas { display: block; }
        #score {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        font-weight: bold;
        z-index: 1;
        }
    </style>
{% endblock %}

{% block content %}
<div id="score"></div>
    <!-- <div class="warp-game">
        <canvas id="pongCanvas" width="800" height="400"></canvas>
    </div> -->
{% endblock %}

{% block extra_scripts %}
<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js",
			"renderpass": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/RenderPass.js",
			"effectcomposer": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/EffectComposer.js",
			"unrealbloompass": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/UnrealBloomPass.js",
			"fontloader": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/loaders/FontLoader.js",
			"linematerial": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/LineMaterial.js",
			"linegeometry": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/LineGeometry.js",
			"line2": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/Line2.js",
			"timer": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/misc/Timer.js",
			"orbitcontrols": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/controls/OrbitControls.js",
			"cameracontrols": "https://cdn.jsdelivr.net/npm/camera-controls@2.8.5/dist/camera-controls.module.min.js"
		}
	}
	</script>
<script type='module' src="{% static 'js/game.js' %}"></script>
{% endblock %}